<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument enabled="true">
            <files>
                <remove value="Main.aspx" />
                <add value="Main.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
